.profile__add-picture {
  border: 2px solid white;
  background-image: url(../../../images/add-picture.svg);
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  width: 150px;
  height: 50px;
  cursor: pointer;
  margin: 0 10px 0;
}

.profile__add-picture:hover {
  opacity: 0.6;
  transition: opacity 0.3s ease-in-out;
}

@media screen and (max-width: 690px) {
  .profile__add-picture {
    width: 282px;
    margin-top: 36px;
  }
}
