.auth__input {
  font-family: inherit;
  width: 100%;
  margin-bottom: 30px;
  padding-bottom: 13px;
  border: none;
  border-bottom: 2px #CCC solid;
  background-color: #000;
  color: #FFF;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
  
}

.auth__input::placeholder{
  color: #CCC;
}